.question {
    background-color: #EF7F04;
    padding: 40px 100px 40px 100px;
}

.question__title {
    color: #FFFFFF;
    margin-bottom: 50px;
}

.question__item {
background-color: #EEEEF3;
padding: 30px 19px ;
margin: 14px;
}

.question__item-title {
    list-style: none;
}

 .title {
    text-align: center;
    padding-bottom: 48px;
 }

 .portfolio {
    background-color: #FFFFFF;
   padding: 48px 0;
    align-items: center;
    margin: 82px auto 100px auto ;
    border: none;
}

.portfolio__list {
    display: flex;
    justify-content: center;
    gap: 0px 45px;
}
