.title-section {
    color: #2F2F51;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 48px;
    padding-top: 61px;
}

.services {
    background-color: #F2F2F2;
    margin-bottom: 65px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.services-list__card {
background: url('../img/first-pict.jpg') ;
background-repeat: no-repeat;
background-size: cover;
width: 49%;
padding-top: 50px;
padding-left: 50px;
padding-bottom: 35px;
padding-right: 150px;
}

.card-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.card-top-title {
    margin-left: 28px;
    font-weight: 700px;
    font-size: 24px;
}

.inner-description {
    line-height: 19px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    background-color: #F2F2F2;
}

.about__advantes {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: px;
    justify-content: space-between;
    gap: 20px;
    
}

.about__advantes-item {
    display: flex;
    width: 30%;
}

.about__advantes-inner {
    padding-left: 24px;
}

.inner-title {
    margin-bottom: 24px;
}

.about__advantes-button {
    display: flex;
    align-items: center;
    margin: 82px auto 100px auto ; 
    border: none;
    color: #FFFFFF;
    background-color: #EF7F04;
    padding: 18px 32px; 
}

.title-section {
color: #2F2F51;
}

.inner-title {
color: #2F2F51;
}

.tabs-list {
    margin-left: 351px;
    margin-bottom: 35px;
    display: flex;
    gap: 46px;
    color: #2F2F51;
}
.about__inner-photo {
    background: url(../img/advantes/picture/1\ 1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    padding-top: 180px;
    padding-left: 70px;
    padding-bottom: 114px;
    padding-right: 150px;
}

.about__inner-text {
    margin-left: 177px;
    margin-right: 500px;
    margin-top: 75px;
    line-height: 22px;
}