.header {
  padding: 17px 0px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  color: #2F2F51;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 48px;
  padding-top: 61px;
}
.title-section__question {
  padding-bottom: 10px;
  padding-top: 10px;
}

.title-section__portfolio {
  padding-bottom: 50px;
  padding-top: 50px;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 660px;
}

.navigation__item {
  margin-right: 40px;
  white-space: nowrap;
}

.navigation__item-link {
  text-decoration: none;
  color: black;
}

.button {
  border: none;
  display: inline-flex;
  color: #FFFFFF;
  margin-right: 14px; 
  padding: 10px 20px;
  border-radius: 3px;
}

.button__orange {
  background-color: #EF7F04;
}

.button__blue {
  background-color: #3B3A63; 
}

.button-icon {
  margin-right: 12px;
}

.header__icons {
  display: flex;
}
.name {
  margin-top: 2px;
}

*{
  box-sizing: border-box;
}

.logo {
  margin-left: 44px;
}

.burger__menu {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    width: 880px;
  }

  .burger__menu {
    display: block;
  }

  .navigation__list {
    display: none;
  }
}



